.menuLogo {
  width: 100%;
  height: 200px;
  background-image: url("../resources/logoBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: hidden ! important;
}

.menu {
  margin-top: 0px;
}

.userMenu {
  margin-bottom: 50px;
}

.menuLogo div {
  margin: 10px;
}

.logoText {
  float:left;
  background-color: white;
  font-size:40px;
  padding:10px;
  border-radius: 10px;;
}


.userMenuButtons {
  float: right;
}
