<div class="ui grid stackable">
  <div class="row">
    <div class="four wide column">
      <div class="ui fluid card  ">
        <a class="image" href="#">
          <img src="http://semantic-ui.com/images/avatar/large/helen.jpg">
        </a>
        <div class="content">
          <a class="header" href="#">Steve Jobes</a>
          <div class="meta">
            <a>Last Seen 2 days ago</a>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column ">
      <div class="ui card fluid sizee">
        <div class="content">
          <div class="header">Cute Dog</div>
          <ul>
            <li>First Name:</li>
            <li>Last Name: </li>
            <li>Index Number:</li>
            <li>Books borrowed:</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
