<div class="ui grid stackable" *ngIf="profile">
  <div class="row">
    <div class="four wide column">
      <div class="ui fluid card  ">
        <span class="image">
          <img src="{{profile.avatarUrl}}">
        </span>
        <div class="content">
          <span class="header">{{profile.firstName}} {{profile.secondName}}</span>
          <div class="meta">
            <span>Last Seen 2 days ago</span>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column ">
      <div class="ui card fluid sizee">
        <div class="content">
          <div class="header">O mnie:</div>
          <ul>
            <li>Imię: {{profile.firstName}}</li>
            <li>Nazwisko: {{profile.secondName}}</li>
            <li>Index Number: {{profile.indexNumber}}</li>
            <li>Ulubione kategorie książek:</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
